@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

body {
  font-family: "Fira Code", monospace;
  margin: 0px; padding: 0px;
  background-color: rgb(52, 71, 101);
  overflow: hidden;
}

#controlpanel{
  display: block;
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  color: rgb(1, 139, 12);

  font-size: 14px;
}

#LagDealer{
  display: block;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 100px;
  color: rgb(255, 0, 0);

  font-size: 14px;
}

p {
  display: inline;
}

.fade {
  opacity: 0;
  animation: fadeInOut 4s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}